body {
    font-family: "Playfair Display";
    color: rgb(20, 50, 80);

}

h1 {
    font-size: 150%;
    padding-left: 490px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: incline;
    float: left;
}

h2 {
    font-weight: 200;
    font-size: 80%;
    display: incline;
    float: right;
    padding-right: 490px;
    margin-top: 35px;

}

#blog {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    font-size: 35px;
}

#avaleht a {
    color: rgb(164, 188, 202);
    text-decoration: none;
}

#avaleht a:hover {
    color: black;
}

#getthings a {
    color: rgb(164, 188, 202);
}

#coach a {

    color: rgb(164, 188, 202);
}

#coach a:hover {
    color: black;
}

#blogi a {
    color: black;
}

#list {
    margin: auto;
    font-size: 17px;
    line-height: 1.6;
    margin-left: 500px;
    margin-right: 500px;
    font-weight: 50;

}

main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#info {
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    color: rgb(20, 50, 80);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
}