* {
    box-sizing: border;
}

body {
    font-family: "Playfair Display", serif;
    color: rgb(20, 50, 80);
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-weight: 200;
    font-size: 0.9rem;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
}

.language-links {
    font-weight: 200;
    font-size: 0.9rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a {
    color: rgb(164, 188, 202);
    text-decoration: none;
}

a:hover {
    color: black;
}

.img2 {
    width: 53%;
}

.info {
    width: 2%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#list,
#jutt,
#info {
    margin: 60px auto;
    color: rgb(20, 50, 80);
    font-size: 1.3125rem;
    line-height: 1.5;
}


#info {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    main,
    #list,
    #jutt,
    #info {
        font-size: 1rem;
    }
}

#list,
#jutt {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 100;
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
}


#getthings a {
    color: black;
}


@media (max-width: 768px) {

    h1,
    h2 {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;

    }

    h2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .language-links {
        justify-content: center;
    }

}

@media (max-width: 768px) {
    h2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #avaleht,
    #getthings,
    #coach,
    #blogi {
        padding-left: 0;
    }
}

#eng a {
    color: black;
}

.info {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .info {
        width: 10%;
    }
}


@media (max-width: 768px) {
    .img3 {
        max-width: 150%;

        height: auto;
        width: 100%;

    }
}

@media (max-width: 480px) {
    .img3 {
        max-width: 200%;
        width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {
    .img2 {
        max-width: 150%;

        height: auto;
        width: 100%;

    }
}

@media (max-width: 480px) {
    .img2 {
        max-width: 200%;
        width: 100%;
        height: auto;
    }
}

li {
    margin-top: 10px;
}


.img-responsive {
    width: 53%;
}


h1 {
    color: rgb(20, 50, 80);
}


#kontakt a {
    color: rgb(164, 188, 202);
    text-decoration: none;
}